#quiz-intro{
	background-color:white;
	border-style: double;
	padding: 20px;
	margin: 10px;
}

#quiz-form{
	background-color:white;
	border-style: double;
	padding: 20px;
	margin: 10px;
	font-size: 14pt;
}

#quiz-status{
	background-color:white;
	border-style: double;
	padding: 20px;
	margin: 10px;
}

#quiz-outoro{
	background-color:white;
	border-style: double;
	padding: 20px;
	margin: 10px;
}

#quiz-wrong{
	border-style: double;
	padding: 20px;
	margin: 10px;
}

#quiz-right{
	border-style: double;
	padding: 20px;
	margin: 10px;
}

#progress-container{
	background-color:white;
	background:grey;
	width: 100%;
	overflow: hidden;
	border-radius: 50px;
}

#progress-container >span {
	display: block;
	background: black;
	height: 15px;
	width: 10%; /* this will change during quiz progress */
	border-radius:5px;
	-moz-border-radius: 5px;
	-webkit-border-radiun: 5px;
}

#quiz-list{
	border-style: double;
	padding: 20px;
	margin: 10px;
}


h1 {
	text-align: center;
}

h2 {
	margin-top: 0;
	text-align: center;
}


div, form {
	box-sizing: border-box;
}

li{
	list-style-type: none;
}

button {
	background-color: grey;
	color: #fff;
	padding: 0.5em;
	border: none;
	border-radius: 5px;
	font-size: 15px;
	line-height: 1.5em;
	margin-top: 10px;
	margin-right: 20px;
}

button.prevQ {
	background-color: white;
	color: black;
	padding: 0.5em;
	border: none;
	border-radius: 5px;
	font-size: 20px;
	line-height: 1.5em;
	margin-top: 10px;
	margin-right: 20px;
}

button.nextQ {
	background-color: white;
	color: black;
	padding: 0.5em;
	border: none;
	border-radius: 5px;
	font-size: 20px;
	line-height: 1.5em;
	margin-top: 10px;
	margin-right: 20px;
}

.content {
	position: relative;
	width: 50%;
	padding-left:auto;
	padding-right:auto;
	margin: 50px auto;
	overflow: hidden;
}

#header-content {
	text-align: center;
	margin-left: auto;
}


.text-center {
	text-align: center;
}

.hidden {
	display: none;
}



/*



@media (max-width: 800px) {
	.content {
		width: 100%;
	}
}


*/
