#quiz-intro{
	background-color:white;
	border-style: double;
	padding: 20px;
	margin: 10px;
}

#header-content {
	background-color:white;
	border-style: double;
	text-align: center;
	margin-left: auto;
}

/*---------Quiz Tracker------*/

#quiz-status{
	background-color:white;
	border-style: double;
	padding: 20px;
	margin: 10px;
}

#progress-container{
	background-color:white;
	background:grey;
	width: 100%;
	overflow: hidden;
	border-radius: 50px;
}

#progress-container >span {
	display: block;
	background: black;
	height: 15px;
	width: 10%; /* this will change during quiz progress */
	border-radius:5px;
	-moz-border-radius: 5px;
	-webkit-border-radiun: 5px;
}

/*---------main quiz data------*/

#quiz-form{
	background-color:white;
	border-style: double;
	padding: 50px;
	margin: 10px;
	font-size: 14pt;
}

#questions{
	font-weight: bold;
}



#buttons{
	padding-top: 30px;
}

/*---------Answer Submission Message------*/

#quiz-right{
	background-color: white;
	border-style: double;
	padding: 10px;
	margin: 10px;
}

#quiz-wrong{
	background-color: white;
	border-style: double;
	padding: 10px;
	margin: 10px;
}

/*---------Quiz tally and final list answer------*/

#quiz-outoro{
	background-color:white;
	border-style: double;
	padding: 20px;
	margin: 10px;
}

#quiz-list{
	background-color: white;
	border-style: double;
	padding: 20px;
	margin: 10px;
}

/*---------Background image classes------*/

.backgroundstart{
	background-image:url("images/studioghibli_backgroundstart.jpg");
	background-repeat: no-repeat;
	opacity: 0.8;
}

.background{
	background-image:url("images/studioghibli_background.jpg");
	opacity: 0.8;
}

.backgroundtwo{
	background-image:url("images/studioghibli_backgroundtwo.jpg");
	opacity: 0.8;

}

.backgroundthree{
	background-image:url("images/studioghibli_backgroundthree.jpg");
	opacity: 0.8;

}

.backgroundfour{
	background-image:url("images/studioghibli_backgroundfour.jpg");
	opacity: 0.8;

}

.backgroundfive{
	background-image:url("images/studioghibli_backgroundfive.jpg");
	opacity: 0.8;

}

.backgroundsix{
	background-image:url("images/studioghibli_backgroundsix.jpg");
	opacity: 0.8;
	background-repeat: no-repeat;

}

.backgroundfinal{
	background-image:url("images/studioghibli_backgroundfinal.jpg");
	opacity: 0.8;
	background-repeat: no-repeat;

}

/*---------Other------*/

button {
	background-color: grey;
	color: #fff;
	padding: 0.5em;
	border: none;
	border-radius: 5px;
	font-size: 15px;
	line-height: 1.5em;
	margin-top: 10px;
	margin-right: 20px;
}

button.prevQ {
	background-color: white;
	color: black;
	padding: 0.5em;
	border: none;
	border-radius: 5px;
	font-size: 20px;
	line-height: 1.5em;
	margin-top: 10px;
	margin-right: 20px;
}

button.nextQ {
	background-color: white;
	color: black;
	padding: 0.5em;
	border: none;
	border-radius: 5px;
	font-size: 20px;
	line-height: 1.5em;
	margin-top: 10px;
	margin-right: 20px;
}

/*---------Other------*/

h1 {
	text-align: center;
}

h2 {
	margin-top: 0;
	text-align: center;
}


div, form {
	box-sizing: border-box;
}

li{
	list-style-type: none;
}

.content {
	position: relative;
	width: 50%;
	margin: 50px auto;
	overflow: hidden;
}




.text-center {
	text-align: center;
}

.hidden {
	display: none;
}



@media (max-width: 800px) {
	.content {
		width: 100%;
	}
}
